
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,500;0,6..12,600;0,6..12,800;1,6..12,400;1,6..12,600;1,6..12,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

.container{
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
  width: 100%;
 
 
}
.heading{
  height: 35%;
  width: 100%;
 background: #000000;
display: flex;
align-items: center;
justify-content: center;
  color: #fff;
  letter-spacing: 1.2px;
  margin-bottom: 1rem;
  
  
}
.heading h2{
  font-size: 34px;
  padding-bottom: 2rem;
}
.userdata{
  height: 65%;
  width: 100%;
  position: relative;
}


@media  (max-width :600px) {
   .heading{
    
    font-size: 30px;
   } 
}